/* Add application styles & imports to this file! */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

.container {
  display: flex;
  justify-content: space-between
}
.left {
  width : 60%;
  margin: 0.5em;
}
.right {
  width : 30%;
  margin: 0.5em;
}

@media (max-width: 800px) {
  .container {
    display:block;
  }
  .left{
    width: auto;
  }
  .right{
    width: auto;
  }
}